@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen!</h1>
    <p>Eksamens projekt af Jesper og Nicklas</a>.</p>
    </div>
        <div class="home__nav__container">
        <nav class="home__nav">
            <a class="home__nav__anchor" href="/Songs">
            <div class="home__nav__button">
                <h2>Songs</h2>
            </div>
            </a>
            <a class="home__nav__anchor" href="/Artists">
            <div class="home__nav__button">
                <h2>Artists</h2>
            </div>
            </a>
            <a class="home__nav__anchor" href="/Albums">
            <div class="home__nav__button">
                <h2>Albums</h2>
            </div>
            </a>
            <a class="home__nav__anchor" href="/Comments">
            <div class="home__nav__button">
                <h2>Comments</h2>
            </div>
            </a>
        </nav>
</div>
