html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.album__song__removeList{
    margin: 1rem 0;
}

.album__song__removeBtn{
    margin-right: 1rem;
}

.album__song__remove {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.anchorOfItem {
    color: black;
    text-decoration: none;
}