html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.album__song__removeList{
    margin: 1rem 0;
}

.album__song__removeBtn{
    margin-right: 1rem;
}

.album__song__remove {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.anchorOfItem {
    color: black;
    text-decoration: none;
}

.home__nav__container > .home__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem
}
.home__nav__button {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.2);
    transition: all, 0.5s;
    color: rgba(0, 0, 0, 0.50);
}
    .home__nav__button:hover {
        -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.37);
        box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.37);
        color: black;
    }

.home__nav__anchor {
    color: black;
    text-decoration: none;
    transition: all, .5s;
}
.home__nav__anchor:hover {
    color: lightgrey;
}